![TheBridge_logo_RGB_color.jpg](attachment:TheBridge_logo_RGB_color.jpg)

![ejercicios.png](LOGO.png)

## EJERCICIOS PYTHON BASICO 1:
## Variables, Print y Comentarios

Completa los siguiente ejercicios, la solución a los mismos se publicarán en el repo del curso a lo largo del sprint

![ejercicio.png](attachment:ejercicio.png)<table align="left">
 <tr>
     <td style="text-align:left">
         <h3>Ejercicio 1: Print con formato</h3>

      
<ol>
<li>Imprime por pantalla esta cita con el siguiente formato</li>



![frase_Einstein.PNG](attachment:frase_Einstein.PNG)
</ol>
         
 </td></tr>
</table>

In [38]:

print("¿Por qué esta magnífica tecnología científica,\n     que ahorra trabajo y nos hace la vida mas fácil, \n       nos aporta tan poca felicidad? \n          La respuesta es está, simplemente: porque aún no hemos aprendido a usarla con tino.")
print('"Albert Eistein"')

¿Por qué esta magnífica tecnología científica,
     que ahorra trabajo y nos hace la vida mas fácil,
       nos aporta tan poca felicidad?
          La respuesta es está, simplemente: porque aún no hemos aprendido a usarla con tino.
"Albert Eistein"

![ejercicio.png](attachment:ejercicio.png)<table align="left">
 <tr>
     <td style="text-align:left">
         <h3>Ejercicio 2: Print y variables</h3>

      
<ol>
<li> Escribe el nombre de la calle de tu domicilio </li>
<li> Escribe el numero de la calle en otra </li>
<li> Población en una tercera </li>
<li> Codigo postal en la cuarta variable </li>
<li> Crea una quinta variable que concatene todas ellas </li>
<li> Imprimela por pantalla </li>

</ol>
         
 </td></tr>
</table>

In [40]:
nombre = "Calle Canonge Baranera"
numero = 7
población = "Badalona"
Codigo_postal = '08911'
Direccion_completa = (nombre, numero, población, Codigo_postal)
print(Direccion_completa)

('Calle Canonge Baranera', 7, 'Badalona', '08911')

![ejercicio.png](attachment:ejercicio.png)<table align="left">
 <tr>
     <td style="text-align:left">
         <h3>Ejercicio 3: Comentarios</h3>

      
<ol>
<li> Copia en el programa del ejercicio anterior</li>
<li> Comentalo línea a línea, bien antes de cada línea, bien a su derecha</li>
<li> Termina con un comentario multilínea explicando que hace en general el programa</li>

</ol>
         
 </td></tr>
</table>

In [46]:
# variable de la calle del domicilio
nombre = "Calle Canonge Baranera"
numero = 7 # variable del numero del domicilio
población = "Badalona" # variable de la población del domicilio
# variable del codigo postal del domicilio
Codigo_postal = '08911'
domicilio = (nombre, numero, población, Codigo_postal) # junta de todas las variables de domicilio en una unica variable
print(domicilio) #imprime el domicilio completo
'''en este programa queremos tener todas las variables del domicilio, y las juntamos en una unica para tener el domicilio completo'''

('Calle Canonge Baranera', 7, 'Badalona', '08911')

'en este programa queremos tener todas las variables del domicilio, y las juntamos en una unica para tener el domicilio completo'

![ejercicio.png](attachment:ejercicio.png)<table align="left">
 <tr>
     <td style="text-align:left">
         <h3>Ejercicio 4: Variables</h3>

      
<ol>
¿Qué variables están mal escritas y por qué? Realiza primero tu hipótesis y luego ejecuta las variables para comprobarlo. En ese orden :)

<li> 1. mi_variable = "Economía" </li>
<li> 2. otra_var = "Ejercicio </li>
<li> 3. True = "Ejercicio" </li>
<li> 4. mi variab1e = "Alpha" </li>
<li> 5. exec = True </li>
<li> 6. import = 40 </li>
<li> 7. 81mi_variable = "Agua" </li>
<li> 8. mi_variable10 = 6</li>

</ol>
         
 </td></tr>
</table>

In [48]:
#parece que todas empiezan por un numero, con lo cual no estaria correcto, pero si vamos de una en una...
<li> 1. mi_variable = "Economía" </li> #correcto
<li> 2. otra_var = "Ejercicio </li> # error por no cerrar la doble comillas
<li> 3. True = "Ejercicio" </li> #error por tener mayuscula
<li> 4. mi variab1e = "Alpha" </li> #error, hay un especio
<li> 5. exec = True </li> # correcto
<li> 6. import = 40 </li> #import es un Keylist, palabra reservada
<li> 7. 81mi_variable = "Agua" </li> #evitar numeros al principio
<li> 8. mi_variable10 = 6</li> # correcto

SyntaxError: unterminated string literal (detected at line 3) (<ipython-input-48-9ca7e622a0a6>, line 3)

![ejercicio.png](attachment:ejercicio.png)<table align="left">
 <tr>
     <td style="text-align:left">
         <h3>Ejercicio 5: variables</h3>

      
<ol>
    <li>Crea un programa que almacene el número de victorias de la selección femenina de fútbol en el Mundial de 2023. </li>
    <li>Guarda el número de victorias en otra, y el número de derrotas en otro</li>
    <li>Crea una variable que sea el porcentaje de victorias</li>
    <li>Crea una variable que sea el porcentaje de derrotas</li>
    <li>Comprueba que todas las variables tienen los valores que les corresponde, hazlo de las dos maneras que hemos visto en clase, como celda de salida y con el uso de print</li>
</ol>
         
 </td></tr>
</table>

In [50]:
otra = 100
otro = 50
total = (otra+otro)
porcentaje_otra = (otra/total)
print(porcentaje_otra)
porcentaje_otro = (otro/total)
print(porcentaje_otro)
print(otra)

0.6666666666666666
0.3333333333333333
100