![TheBridge_logo_RGB_color.jpg](attachment:TheBridge_logo_RGB_color.jpg)

![ejercicios.png](attachment:ejercicios.png)

## EJERCICIOS PYTHON BASICO II
## LISTAS Y TUPLAS

Para ejercitarte y afianzar lo aprendido sobre Listas y Tuplas, completa los siguiente ejercicios.
  
La solución a los mismos se publicarán en el repo del curso a lo largo del sprint.

## Contenidos

### Ejercicio 1

![ejercicio.png](attachment:ejercicio.png)


Piensa en al menos 3 personas que invitarías a cenar
<ol>
    <li>Utiliza la lista de invitados para imprimir cada uno por pantalla, mediante un bucle</li>
    <li>Ordena alfabeticamente tu lista de invitados</li>
    <li>¿Quién es el primer invitado de la lista?</li>
    <li>Te llama uno de ellos a última hora, que no va a poder asistir. Eliminalo de la lista</li>
    <li>Por suerte te ha llamado un amigo que no iba a asistir y al final si puede. Añadelo a mitad de la lista</li>
</ol>
         
 </td></tr>
</table>

In [ ]:
lista_invitados = ["Lea","Maria","Julia"]
for i in lista_invitados:
  print(i)

Lea
Maria
Julia
None

In [ ]:
lista_invitados = ["Lea","Maria","Julia"]
lista_invitados.sort()
print(lista_invitados)

['Julia', 'Lea', 'Maria']

In [ ]:
lista_invitados = ["Lea","Maria","Julia"]
lista_invitados[0]

'Lea'

In [ ]:
lista_invitados = ["Lea","Maria","Julia"]
lista_invitados.remove("Julia")
print(lista_invitados)

['Lea', 'Maria']

In [ ]:
lista_invitados.insert(1,"Marc")
print(lista_invitados)

['Lea', 'Marc', 'Marc', 'Marc', 'Marc', 'Maria', 'Marc']

### Ejercicio 2

![ejercicio.png](attachment:ejercicio.png)



<ol>
    <li>Crea una tupla con un único valor. Comprueba su tipo</li>
    <li>Crea otra tupla con 3 elementos</li>
    <li>Añadele (como puedas) a la primera tupla, los tres elementos de la segunda</li>
    <li>Obtén una cuarta tupla a partir de los dos primeros valores de la tupla creada del apartado anterior</li>
</ol>
         
 </td></tr>
</table>

In [ ]:
tupla = (2,)
type(tupla)

tuple

In [ ]:
tupla3 = (2,3,4)
new_tupla = tupla + tupla3
print(new_tupla)
print(type(tupla))

(2, 2, 3, 4)
<class 'tuple'>

### Ejercicio 3

![ejercicio.png](attachment:ejercicio.png)


Dada la siguiente lista:
> ```ejer_3 = [1,2,3,4,5,6]```

Inviértela para que quede de la siguiente manera
> ```ejer_3_inv = [6,5,4,3,2,1]```

In [ ]:
ejer_3 = [1,2,3,4,5,6]
ejer_3.sort(reverse = True)
print(ejer_3)

[6, 5, 4, 3, 2, 1]

### Ejercicio 4

![ejercicio.png](attachment:ejercicio.png)

Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_4 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [ ]:
ejer_4 = ("cien", "cañones", "por", "banda")
for i in ejer_4:
  print(i)

cien
cañones
por
banda

In [ ]:
ejer_4 = ("cien", "cañones", "por", "banda")
ejer_4lista = list(ejer_4)
print(ejer_4lista,type(ejer_4lista))
elemento1 = ejer_4lista[0]
elemento2 = ejer_4lista[1]
elemento3 = ejer_4lista[2]
elemento4 = ejer_4lista[3]
resultado = elemento1 +" "+ elemento2 +" "+ elemento3 +" "+ elemento4
print(resultado)

['cien', 'cañones', 'por', 'banda'] <class 'list'>
cien cañones por banda

### Ejercicio 5

![ejercicio.png](attachment:ejercicio.png)

Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_5 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [ ]:
ejer_5 = [20, 47, 19, 29, 45, 67, 78, 90]
ejer_5.index(45)
ejer_5.pop(4)
ejer_5.insert(0,45)
print(ejer_5)

[45, 20, 47, 19, 29, 67, 78, 90]

### Ejercicio 6

![ejercicio.png](attachment:ejercicio.png)


Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_6 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [ ]:
ejer_6 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)
print(ejer_6[2])
print(ejer_6[-3])

3
90

### Ejercicio 7

![ejercicio.png](attachment:ejercicio.png)

Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_7 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_7.copy()`.

In [ ]:
ejer_7 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
ejer_8 = ejer_7.copy()
print(ejer_8)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

In [ ]:
ejer_8 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
for i in ejer_8:
  if i == "3":
    ejer_8 = ejer_8.remove(i)
    print(ejer_8)
  else:
    print(ejer_8)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]