![TheBridge_logo_RGB_color.jpg](attachment:TheBridge_logo_RGB_color.jpg)

![ejercicios.png](attachment:ejercicios.png)

## EJERCICIOS PYTHON BASICO II
## FUNCIONES

Para ejercitarte y afianzar lo aprendido sobre funciones, completa los siguiente ejercicios.
  
La solución a los mismos se publicarán en el repo del curso a lo largo del sprint

## Contenidos

### Ejercicio 1

![ejercicio.png](attachment:ejercicio.png)

Escribe una función que convierta números del 1 al 7 en nombres de los dias de la semana. La función constará de un único argumento numérico y una salida de tipo string

In [8]:
dias = {1:"lunes", 2:"martes", 3:"miercoles", 4:"jueves", 5:"viernes", 6:"sabdado", 7:"domingo"}
def convertor_dias(clave):
      return dias[clave]

print(convertor_dias(5))

viernes

In [ ]:
argumento

salida

In [ ]:
dias_semana = {1:"lunes", 2:"martes", 3:"miercoles", 4:"jueves", 5:"viernes", 6:"sabdado", 7:"domingo"}
def mi_funccion():
  for i in dias_semana:
    print(i,":",dias_semana[i])

x = dias_semana["i"]
print(x)

KeyError: 'i'

In [ ]:
dias_semana = {1:"lunes", 2:"martes", 3:"miercoles", 4:"jueves", 5:"viernes", 6:"sabdado", 7:"domingo"}
def mi_funccion(dias_semana):
  for i in dias_semana:
    print(i,":",dias_semana[i])

i = 2

In [ ]:
dias_semana = {1:"lunes", 2:"martes", 3:"miercoles", 4:"jueves", 5:"viernes", 6:"sabdado", 7:"domingo"}
x = 2
for x, y in dias_semana.items():
  print(x," ", dias_semana[y])

KeyError: 'lunes'

In [ ]:
dias_semana = {1:"lunes", 2:"martes", 3:"miercoles", 4:"jueves", 5:"viernes", 6:"sabdado", 7:"domingo"}
x = 2
for x in dias_semana():
  dia = dias_semana.get( x,y)
    return dia
  print(x," ", dias_semana[y])

IndentationError: unexpected indent (<ipython-input-16-90965c817fd5>, line 5)

### Ejercicio 2

![ejercicio.png](attachment:ejercicio.png)

Implementa una función que imprima una pirámide como la siguiente

5 4 3 2 1  
4 3 2 1  
3 2 1  
2 1  
1  

de altura variable según el argumento de entrada que indiquemos (en el ejemplo la altura sería 5)

In [18]:


def piramide(n):
  for i in range(0,n):
    for x in range (n-i,0,-1):
      print(x, end=" ")
    print(" ")

piramide(10)

10 9 8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [20]:
def multiplica_2(n,m):
  return n*m

def multiplica_print_2(n,m):
  print(n*m)
  return None

print(multiplica_2(3,4))
print(multiplica_print_2(5,6))

12
30
None

In [ ]:
)n= 5
for n in range(n):
  print(n)

0
1
2
3
4

In [ ]:
n = 6
for x in range(1,n):
  print(x)

1
2
3
4
5

In [ ]:
n = 6
for x in range(1, n, -1):
  n = list()
  print(n)

In [ ]:
x = range( 1, 6, -1)
for n in x:
  print(n)

In [ ]:
n = 5
k = 5

for i in range(0, 5):
    for j in range(k -i, 0, -1):
       print(j, end =" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### Ejercicio 3

![ejercicio.png](attachment:ejercicio.png)

Escibe una función que compare dos números. La función tiene dos argumentos y hay tres salidas posibles: que sean iguales, que el primero se  mayor que el segundo, o que el segundo sea mayor que el primero

In [ ]:
def numero (n,y):
  cond1 = n == y
  cond2 = n > y
  cond3 = y > n
  return (cond1, cond2, cond3)

numero (2,3)

(False, False, True)

In [21]:
def numero (n,y):
  if n == y:
    return 0
  if n > y :
    return 1
  if n < y :
    return 2
numero (4,5)

2

### Ejercicio 4

![ejercicio.png](attachment:ejercicio.png)

Escribe una función que sea un contador de letras. En el primer argumento tienes que introducir un texto, y el segundo que sea la letra a contar. La función tiene que devolver un entero con el número de veces que aparece esa letra, tanto mayuscula, como minúscula

In [24]:
def contador_letra(palabra, letra):
    palabra1 = palabra.lower()
    palabra2 = palabra1.count(letra)
    return palabra2

contador_letra("abracaCdabrA","c")

2

In [ ]:
def contador_letra(palabra):
    palabra1 = (palabra.count("a")) + (palabra.count("A"))
    return palabra1

contador_letra("abracadabrA")

5

### Ejercicio 5

![ejercicio.png](attachment:ejercicio.png)

Escribe una función que tenga un único argumento, un string. La salida de la función tiene que ser un diccionario con el conteo de todas las letras de ese string.

In [27]:
def contador_letras(argumento):
  dictionario = {}
  for n in argumento:
    valor = argumento.count(n)
    dictionario[n] = valor
  return dictionario

contador_letras("test")

{'t': 2, 'e': 1, 's': 1}

In [ ]:
def argumento ("una prueba complicada"):
  list(argumento)
  list.count()

SyntaxError: invalid syntax (<ipython-input-81-bbdc34c24516>, line 1)

### Ejercicio 6

![ejercicio.png](attachment:ejercicio.png)


Crea una función que reciba un número arbitrario de palabras, y devuelva una frase completa, separando las palabras con espacios.

In [50]:
def frase_completa(*argumento):
  for n in argumento:
    return (n, end=" ")
print(n, end=" ")
frase_completa("una","verde","casa","bonita")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-50-4611ffc41bfa>, line 3)

In [ ]:
from typing_extensions import Concatenate
def frase_completa(*argumento):
  for n in argumento:
    frase = list.argumento
  print(frase)
  print(type(frase))

frase_completa = ("una","verde","casa","bonita")