![TheBridge_logo_RGB_color.jpg](attachment:TheBridge_logo_RGB_color.jpg)

![ejercicios.png](attachment:ejercicios.png)

## PRACTICA OBLIGATORIA: COLECCIONES Y FUNCIONES

* La práctica obligatoria de esta unidad consiste varios ejercicios de programación libre a completar sobre Colecciones y Funciones. Descarga este notebook en tu ordenador y trabaja en local.  
* Recuerda que debes subirla a tu repositorio personal antes de la sesión en vivo para que puntúe adecuadamente y puedas participar en dicha sesión.  
* Recuerda también que no es necesario que esté perfecta, sólo es necesario que se vea el esfuerzo.
* Esta práctica se resolverá en la sesión en vivo correspondiente y la solución se publicará en el repo del curso.

### Contenidos

## Ejercicio 1
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [15]:
ejer_2 = [1,2,3,4,5]
ejer_3 = tuple(ejer_2)
def subir_al_cuadrado(ejer_3):
  for n in ejer_3:
    resultado = n**2
  print(resultado)
subir_al_cuadrado(ejer_3)

25

## Ejercicio 2
Haz un programa que detecte todos los duplicados de un elemento en una lista:
* Utiliza una variable duplicado para asignarle el valor del elemento del que queremos encontrar todos sus duplicados.
* El programa debe devolver todos los índices de los elementos duplicados.
* Aplícalo para encontrar los duplicados de "un", "es" y "binario" de:  

>```ejer_3 = ["Un", "árbol", "binario", "es", "una", "estructura", "de", "un", "tipo", "particular", "a", "veces", "no", "es", "ni", "binario"]```

In [21]:
ejer_3 = ["Un", "árbol", "binario", "es", "una", "estructura", "de", "un", "tipo", "particular", "a", "veces", "no", "es", "ni", "binario"]
ejer_3_indice = ejer_3.index #test no da nada
print(ejer_3_indice) #test no da nada
ejer_4 = list(set(ejer_3))
print(ejer_4, type(ejer_3))
print(ejer_5)

<built-in method index of list object at 0x7d211c402fc0>
['una', 'un', 'estructura', 'particular', 'es', 'Un', 'veces', 'no', 'binario', 'ni', 'a', 'de', 'árbol', 'tipo'] <class 'list'>

NameError: name 'cmp' is not defined

In [83]:
ejer_3 = ["Un", "árbol", "binario", "es", "una", "estructura", "de", "un", "tipo", "particular", "a", "veces", "no", "es", "ni", "binario"]
reduced = list(set(ejer_3))
#print(len(ejer_3))
#print(len(reduced_list))
new_list = []
duplicated_list =[]
for n in ejer_3:
  if n not in new_list:
    new_list.append(n)
  else:
    duplicated_list.append(n)
print(new_list)
print(duplicated_list)

['Un', 'árbol', 'binario', 'es', 'una', 'estructura', 'de', 'un', 'tipo', 'particular', 'a', 'veces', 'no', 'ni']
['es', 'binario']

In [103]:
ejer_3.index("es")
for n in duplicated_list:
  indice = ejer_3.index(n)
  print(indice)

3
2

## Ejercicio 3
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [107]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
ejer_9 = list(ejer_9)
print(ejer_9.count(3))

7

In [38]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
nueva_tupla = list(ejer_9)
nueva_tupla = nueva_tupla[5:11]
nueva_tupla = tuple(nueva_tupla)
print(nueva_tupla)

(3, 29, 45, 67, 78, 90)

In [22]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
print(len(ejer_9))

26

## Ejercicio 4
Comprueba si el numero 60 esta en la tupla del ejercicio 3

In [62]:
x = 60
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
if x in ejer_9:
    print(True)
else:
    print("No hay el numero", x, " en la lista")

No hay el numero 60  en la lista

## Ejercicio 5
1. Convierte la tupla del ejercicio 3 en una lista
2. Convierte la tupla del ejercicio 3 en un set
3. Convierte la tupla del ejercicio 3 en un diccionario. Usa también los indices

In [63]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
lista = list(ejer_9)
print(type(lista),lista)

<class 'list'> [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]

In [64]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
set = set(ejer_9)
print(type(set),set)

<class 'set'> {2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}

In [111]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
indices = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26)
dictionario = {ejer_9,indices}
print(dictionario)

{(3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7), (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26)}

## Ejercicio 6
Multiplica todos los valores del diccionario
> ```ejer_6 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [69]:
ejer_6 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
valores = ejer_6.values()
valores = list(valores)
  for n in valores:
    resultado = n * [1]
print(type(valores),valores)

<class 'list'> [11, 22, 33, 44, 55]

In [7]:
ejer_6 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
ejer_6.values()
for n in ejer_6.values():
  resultado = ejer_6[1]*ejer_6[2]*ejer_6[3]*ejer_6[4]*ejer_6[5]
  print(resultado)

19326120
19326120
19326120
19326120
19326120

In [8]:
ejer_6 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
resultado = ejer_6[1]*ejer_6[2]*ejer_6[3]*ejer_6[4]*ejer_6[5]
print(resultado)

19326120

## Ejercicio 7

1. Crea un diccionario que describa un libro, con los siguientes campos o claves: "titulo","autor","idioma original","año de publicación".
2. Crea un a lista, llamada librería.
3. Añade cuatro libros a tu elección a la librería.

In [31]:
dictionario = {}
dictionario["titulo"] = "En el cielo"
dictionario["autor"] = "A. Peter"
dictionario["idioma_original"] = "EN"
dictionario["año_de_publicación"] = "1987"
print(dictionario)

{'titulo': 'En el cielo', 'autor': 'A. Peter', 'idioma_original': 'EN', 'año_de_publicación': '1987'}

In [112]:
libreria = ["Amanda", "M. Lola", "ES", "2001"]
print(libreria)

['Amanda', 'M. Lola', 'ES', '2001']

In [118]:
libreria.append("libro1")
print(libreria)

['Amanda', 'M. Lola', 'ES', '2001', 'libro1']

In [121]:
dictionario["titulo"] = "Maravilla"
dictionario["autor"] = "M. Lola"
dictionario["idioma_original"] = "FR"
dictionario["año_de_publicación"] = "1993"
for i in dictionario:
  print(i,":",dictionario[i])

TypeError: 'set' object does not support item assignment

In [29]:
dict = {}
dict["Amanda"] = ""
dict["Maravilla"] = ""
dict["En el oeste"]= ""
dict["Aprendo Python"]= ""
print(dict)

{'Amanda': '', 'Maravilla': '', 'En el oeste': '', 'Aprendo Python': ''}

## Ejercicio 8
Modifica los valores del idioma de todos los libros del ejercicio anterior para que sea "esperanto"

In [46]:
dict['idioma_original'] = "esperanto", "esperanto", "esperanto", "esperanto"
for i in dict:
  print(i,":",dict[i])

titulo : ('Amanda', 'Maravilla', 'En el oeste', 'Aprendo Python')
autro : ('M. Lola', 'J.Kennyth', 'A.Fortosa', 'J.Van Tussen')
idioma_original : ('esperanto', 'esperanto', 'esperanto', 'esperanto')
año_de_publicación : ('1993', '2004', '2025', '2011')

## Ejercicio 9
1. Escribe un programa que dada una variable titulo busque los libros que hay en la librería con ese título. Si no se encuentra debe devolver el mensaje `Ese no lo tengo, ¿mola?`
2. Pruena que el programa con uno de tus libros y con otro que no contenga tu librería.

In [69]:
titulo = "Try"
if dictionario.values(titulo):
  print(titulo)
else:
    print("Esto no lo tengo, ¿mola?")

TypeError: dict.values() takes no arguments (1 given)

## Ejercicio 10
Convierte el programa del ejercicio 2 en una función al que se le pase el valor a buscar como un argumento posicional

## Ejercicio 11
Convierte el programa del ejercicio 9 en una función al que se le pasen como argumentos la librería, posicional, y el título, argumento keyword con valor "ninguno", por defecto.

## Ejercicio 12
Solicitar al usuario que ingrese su dirección email. Imprimir un mensaje indicando si la dirección es válida o no, valiéndose de una función para decidirlo. Una dirección se considerará válida si contiene el símbolo "@".

In [101]:
primer_mensaje = input("Introduzca tu email: ")
for n in primer_mensaje:
  if primer_mensaje.index("@"):
    print("dirección valida")
    break
  else:
    print("dirección NO valida")

Introduzca tu email: sfdds@sdgf
dirección valida

In [93]:
primer_mensaje = input("Introduzca tu email: ")
for n in primer_mensaje:
  if n == "@":
    print("dirección valida")
    break
  else:
    print("dirección NO valida")
    break

Introduzca tu email: fdg@sdfs
dirección NO valida

## Ejercicio 13
Escribe una función que compruebe si un DNI es válido, devolviendo `True` en caso afirmativo.  
En primer lugar, el DNI debe tener entre 7 y 8 dígitos numéricos.  
Para saber si la letra del DNI es correcta puedes utilizar el siguiente fragmento de código:
>```Python
>DNI= 55555555
>palabra='TRWAGMYFPDXBNJZSQVHLCKE'
>print('La letra del DNI es: ', palabra[DNI%23])
>````

In [22]:
def validacion(DNI):
 if 7 < count.DNI < 8:
    return True
    print(True)

 validacion(x6128276h)

In [29]:
DNI = 55555555
caracteres = count.DNI(n)
print(caracteres)

NameError: name 'count' is not defined

In [15]:
DNI= 55555555
palabra='TRWAGMYFPDXBNJZSQVHLCKE'
print('La letra del DNI es: ', palabra[DNI%23])

La letra del DNI es:  K